@model AbrirContaViewModel;

@{
    Layout = "_Layout";
    ViewBag.Title = "Abrir Conta";
}

<div class="row mt-3">
    <div class="col-lg-6">
        <form asp-action="Abrir">
            <div class="mt-2">
                <label class="control-label">Titular:</label>
                <input class="form-control" asp-for="Titular"/>
                <span class="text-danger my-1" asp-validation-for="Titular"></span>
            </div>

            <div class="mt-2">
                <label class="control-label">Mesa:</label>
                <select class="form-select" asp-for="IdMesa" asp-items="Model.Mesas">
                    <option></option>
                </select>
                <span class="text-danger my-1" asp-validation-for="IdMesa"></span>
            </div>

            <div class="mt-2">
                <label class="control-label">Garçom:</label>
                <select class="form-select" asp-for="IdGarcom" asp-items="Model.Garcons">
                    <option></option>
                </select>
                <span class="text-danger my-1" asp-validation-for="IdGarcom"></span>
            </div>

            <div class="mt-2">
                <button class="btn btn-primary">Gravar</button>
                <a href="/conta/listar" class="btn btn-info">Voltar</a>
            </div>
        </form>
    </div>
</div>