@model ControleDeBar.WebApp.Models.InserirProdutoViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Inserir Novo Produto";
}

<div class="row mt-3">
    <div class="col-lg-6">
        <form class="d-grid gap-4" asp-action="Inserir">

            <div class="mt-2">
                <label class="control-label fw-semibold">Nome do Produto: </label>
                <input class="form-control" name="nome" />
                <span class="text-danger my-1" asp-validation-for="Nome"></span>
            </div>

            <div class="mt-2">
                <label class="control-label fw-semibold">Valor do Produto (R$): </label>
                <input class="form-control" name="valor" id="valor" value="0.00" />
                <span class="text-danger my-1" asp-validation-for="Valor"></span>
            </div>

            <div class="mt-2 d-grid gap-2 d-md-block">
                <button class="btn btn-primary px-5">
                    <i class="bi bi-floppy-fill me-1"></i>
                    Gravar
                </button>
                <a href="/produto/listar" class="btn btn-secondary px-5">
                    <i class="bi bi-arrow-return-left me-1"></i>
                    Voltar
                </a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function(){
            $("#valor").mask("#.##0,00", { reverse: true });
        });
    </script>
}