@model DetalhesGarcomViewModel

@{
    Layout = "_Layout";
    ViewBag.Title = "Visualizar Detalhes do Garçom";
}

<div class="row mt-3">
    <div class="col-lg-6 d-grid gap-2 d-md-block">

        <div class="d-grid">
            <label class="fs-5"><strong>Garçom:</strong> @Model.Nome</label>

            <label><strong>Id:</strong> [@Model.Id]</label>
            <label><strong>CPF:</strong> @Model.CPF</label>
        </div>

        <a href="/garcom/listar" class="btn btn-secondary px-5 mt-4">
            <i class="bi bi-arrow-return-left me-1"></i>
            Voltar
        </a>
    </div>
</div>