@{
    var mesa = ViewBag.Mesa;

    Layout = "_Layout";
    ViewBag.Title = "Detalhes da Mesa";
}

<div class="row">
    <div class="col-lg-6 d-grid gap-2 d-md-block">
        
        <div class="d-grid">
            <label class="fs-5"><strong>Mesa:</strong> @mesa.Numero</label>

            <label><strong>Id:</strong> [@mesa.Id]</label>
            <label><strong>Status:</strong> @(mesa.Ocupada ? "Ocupada" : "Livre")</label>
        </div>

        @if (mesa.Contas.Count > 0)
        {
            <div class="mt-3">
                <h5>Contas relacionadas à mesa:</h5>

                <ul>
                    @foreach (var conta in mesa.Contas)
                    {
                        <li>@conta.ToString()</li>
                    }
                </ul>
            </div>
        }

        <a href="/mesa/listar" class="btn btn-secondary px-5 mt-4">
            <i class="bi bi-arrow-return-left me-1"></i>
            Voltar
        </a>
    </div>
</div>