<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Edição de Mesa</title>
</head>
<body>
    <h1>Edição de Mesa</h1>

    <form action="/mesa/editar/@ViewBag.Mesa.Id" method="post">

        <label>Número da Mesa: </label> <br />
        <input name="numero" value="@ViewBag.Mesa.Numero" />

        <input name="ocupada" type="checkbox" @(ViewBag.Mesa.Ocupada ? "checked='checked'" : "") />

        <button>Gravar</button>

    </form>

    <a href="/mesa/listar">Listar Mesas</a>
</body>
</html>