@model EditarMesaViewModel;

@{
    Layout = "_Layout";
    ViewBag.Title = "Edição de Mesa";
}

<div class="row mt-3">
    <div class="col-lg-6">
        <form class="d-grid gap-4" asp-action="Editar">
        
            <div class="mt-2">
                <label class="control-label fw-semibold" >Número da Mesa:</label>
                <input class="form-control" asp-for="Numero"/>
            </div>
            
            <div class="mt-2">
                <input class="form-check-input" asp-for="Ocupada" disabled>
                <label class="form-check-label" for="Ocupada">
                    Ocupada
                </label>
            </div>

            <div class="mt-2 d-grid gap-2 d-md-block">
                <button class="btn btn-primary px-5">
                    <i class="bi bi-floppy-fill me-1"></i>
                    Gravar
                </button>
            
                <a class="btn btn-secondary px-5" href="/mesa/listar">
                    <i class="bi bi-arrow-return-left me-1"></i>
                    Voltar
                </a>
            </div>

        </form>

    </div>
</div>